*{
  margin:0;
  padding:0;
}
body{
  background: black;
  font-size: 40px;
  color:crimson;
  text-align: center;
}
p{
  background-image: linear-gradient( to right, aqua , purple);
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}